/* --------- CSS for Studio --------- */

/* HERO */

.hero {
  text-align: center;
  background-color: #2f303a;
  padding: 200px 0;
}

.hero > .hero-title {
  color: var(--hero-text-color);

  margin-top: 0;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero > .button {
  display: inline-block;
  height: 50px;
  min-width: 200px;
  background-color: var(--accent-color);
  color: var(--hero-text-color);
  cursor: pointer;
  font-family: inherit;
  padding: 10px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9px;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
  border-radius: 4px;
  margin: 0 auto;
}

/* OUR FEATURES */
.main-section {
}

.section-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.features .title {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features {
  display: flex;
}

.features .text {
  font-size: 14px;
  line-height: 1.71;
}

/* WHAT WE DO */

.pics {
  display: flex;
}

/* OUR TEAM */
.main-section.team {
  background-color: var(--filter-color);
}

/* --------- CSS for Portfolio --------- */
.project-title {
  display: none;
}

.filter > .buttons {
  background-color: var(--filter-color);
  color: var(--secondary-text-color);
  cursor: pointer;
  font-family: inherit;

  display: flex;
}

.filter > .buttons:hover,
.filter > .buttons:focus,
.filter > .accent {
  background-color: var(--accent-color);
  color: var(--hero-text-color);
}

.works .work-title {
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.works .desc {
  font-size: 16px;
  line-height: 1.87;
}

.works {
  display: flex;
  flex-wrap: wrap;
}

.work-list {
  margin-right: 30px;
}
